<form action="order" method="post">
<div id="order-1" class="orderbox">
    What size pizza would you like?<br><br>
    <div class="pizza-opts">
        <% sizes.each_with_index do |size, ind| %>
            <input type="radio" name="psize" value="<%= size[0] %>" <% if ind==0 %>checked<% end %>><%= size[0] %><br>
        <% end %>
    </div>
    <button type="button" onclick="switchModal(1, 2)" class="orderbtn">Next</button>
</div>

<div id="order-2" class="orderbox">
    What meat toppings would you like?<br><br>
    <div class="pizza-opts">
        <% meats.each_with_index do |meat, ind| %>
            <div class="topping-div">
                <img src="/images/<%= meat.downcase %>.png"><br>
                <input type="checkbox" name="pmeat" value="<%= meat %>"><%= meat %>
            </div>
            <% if ind % 2 == 1 %>
                <br>
            <%end%>
        <% end %>
    </div>
    <button type="button" onclick="switchModal(2, 1)" class="orderbtn">Back</button>
    <button type="button" onclick="switchModal(2, 3)" class="orderbtn">Next</button>
</div>

<div id="order-3" class="orderbox">
    Choose your vegetables.<br><br>
    <div class="pizza-opts">
        <% veggies.each_with_index do |veg, ind| %>
            <div class="topping-div">
            <img src="/images/<%= veg.downcase.tr(" ", "_") %>.png"><br>
            <input type="checkbox" name="pveggie" value="<%= veg %>"><%= veg %>
            </div>
            <% if ind % 2 == 1 %>
                <br>
            <%end%>
        <% end %>
    </div>
    <button type="button" onclick="switchModal(3, 2)" class="orderbtn">Back</button>
    <button type="button" onclick="switchModal(3, 4)" class="orderbtn">Next</button>
</div>

<div id="order-4" class="orderbox">
    Would you like Extra Cheese?<br>
    <div class="pizza-opts">
        <input type="radio" name="excheese" value="yes" checked>Yes<br>
        <input type="radio" name="excheese" value="no">No<br>
    </div>
    <button type="button" onclick="switchModal(4, 3)" class="orderbtn">Back</button>
    <button type="button" onclick="switchModal(4, 5)" class="orderbtn">Next</button>
</div>

<div id="order-5" class="orderbox">
    Dine-in or Delivery?<br>
    <div class="pizza-opts">
        <input type="radio" name="deliver" value="Dine-In" onclick="hideDelivery()" checked>Dine-In<br>
        <input type="radio" id="delivery" name="deliver" value="Delivery" onclick="showDelivery()">Delivery<br>
        <div class="delivery-opts" id="deliver-div">
            <input type="text" placeholder="Address" name="address" id="address"><br>
            <input type="text" placeholder="City" name="city" id="city">
            <input type="text" placeholder="State" name="state" id="state"><br>
            <input type="number" placeholder="Est. Miles" name="miles" id="miles">
        </div>
    </div>
    <button type="button" onclick="switchModal(5, 4)" class="orderbtn">Back</button>
    <button type="button" onclick='displayConfirm(<%= sizes %>, <%= veg_price %>, <%= meat_price %>, <%= cheese_price %>);' class="orderbtn">Confirm</button>
</div>

<div id="confirm" class="confirm-modal">
    <div class="confirm-content" id="final">
    </div>
</div>
</form>